---
import Layout from '../../layouts/Layout.astro';
import SiteHeader from '../../components/SiteHeader.astro';
import SiteFooter from '../../components/SiteFooter.astro';
import SectionHero from '../../components/SectionHero.astro';
import SectionLocations from '../../components/SectionLocations.astro';
import SectionTexts from '../../components/SectionTexts.astro';
import SectionContributors from '../../components/SectionContributors.astro';
import SectionContact from '../../components/SectionContact.astro';
import { getHero, getAbout, getTeamIntro, getContact, getFooter } from '../../lib/singletons';

const [hero, about, teamIntro, contact, footer] = await Promise.all([
  getHero(),
  getAbout(),
  getTeamIntro(),
  getContact(),
  getFooter(),
]);
---

<Layout title="Forming Nature, Formed by Nature" locale="en">
  <SiteHeader locale="en" />
  <main>
    <SectionHero locale="en" data={hero} />
    <SectionLocations locale="en" />
    <SectionTexts
      locale="en"
      blocks={[
        { id: 'about', data: about },
        { id: 'team', data: teamIntro },
      ]}
    />
    <SectionContributors locale="en" />
    <SectionContact locale="en" data={contact} />
  </main>
  <SiteFooter locale="en" data={footer} />
</Layout>
