---
import Layout from '../layouts/Layout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import SectionHero from '../components/SectionHero.astro';
import SectionLocations from '../components/SectionLocations.astro';
import SectionTexts from '../components/SectionTexts.astro';
import SectionContributors from '../components/SectionContributors.astro';
import SectionContact from '../components/SectionContact.astro';
import { getHero, getAbout, getTeamIntro, getContact, getFooter, getCoproduction } from '../lib/singletons';

const [hero, about, coproduction, teamIntro, contact, footer] = await Promise.all([
  getHero(),
  getAbout(),
  getCoproduction(),
  getTeamIntro(),
  getContact(),
  getFooter(),
]);
---

<Layout title="Forming Nature, Formed by Nature" locale="de">
  <SiteHeader locale="de" />
  <main>
    <SectionHero locale="de" data={hero} />
    <SectionLocations locale="de" />
    <SectionTexts
      locale="de"
      blocks={[
        { id: 'about', data: about },
        { id: 'coproduction', data: coproduction },
        { id: 'team', data: teamIntro },
      ]}
    />
    <SectionContributors locale="de" />
    <SectionContact locale="de" data={contact} />
  </main>
  <SiteFooter locale="de" data={footer} />
</Layout>
